<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: black;
      }
      @media screen and (prefers-color-scheme: light) {
        body {
          background-color: white;
        }
      }

      .mike, img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        min-width: 100%;
        min-height: 100%;

        scroll-snap-align: start;
      }

      #viewport {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;

        overflow-y: hidden;
      }
      #viewport::-webkit-scrollbar {
        display: none;
      }
    </style>
    <title>Test</title>
  </head>
  <body>
    <div id="viewport">
      
      {% for photo in photos %}
        <picture class="mike">
          <source srcset="{{photo}}?w=768&q=70&fm=webp 768w" media="(min-width: 768px)" type="image/webp">
          <source srcset="{{photo}}?w=768&q=70 768w" media="(min-width: 768px)" type="image/jpeg">

          <source srcset="{{photo}}?w=375&q=70&fm=webp 375w" media="(min-width: 375px)" type="image/webp">
          <source srcset="{{photo}}?w=375&q=70 375w" media="(min-width: 375px)" type="image/jpeg">
          
          <source srcset="{{photo}}?w=320&q=70&fm=webp 320w" type="image/webp">
          <source srcset="{{photo}}?w=320&q=70 320w" type="image/jpeg">
          <img src="{{ photo }}?w=320" loading="lazy" width="320">
        </picture>
      {% endfor %}
    </div>
  </body>
</html>
