---
pagination:
  data: photos
  size: 15
css_break_points:
  - 1440
  - 1280
  - 1024
  - 768
  - 414
  - 375
  - 320
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: black;
      }
      @media screen and (prefers-color-scheme: light) {
        body {
          background-color: white;
        }
      }

      .moment, .paginationPanel {
        height: 100%;
        width: 100%;
        object-fit: contain;
        min-width: 100%;
        min-height: 100%;

        scroll-snap-align: start;
      }

      #viewport {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;

        overflow-y: hidden;
      }
      #viewport::-webkit-scrollbar {
        display: none;
      }
    </style>
    <title>Test</title>
  </head>
  <body>

    <div id="viewport">
      {% if pagination.href.previous %}
        <div class="paginationPanel">
          <a href="{{ pagination.href.previous }}#moment-{{ pagination.size }}">Load more</a>
        </div>
      {% endif %}
      {% for photo in pagination.items %}
          <picture class="moment" id="moment-{{ loop.index }}">
            {% for w in css_break_points %}
              <source srcset="{{photo}}?w={{w}}&q=70&fm=webp {{w}}w" media="(min-width: {{w}}px)" type="image/webp">
              <source srcset="{{photo}}?w={{w}}&q=70 {{w}}w" media="(min-width: {{w}}px)" type="image/jpeg">
            {% endfor %}
            <img class="moment" src="{{ photo }}?w=320" loading="lazy" width="320">
          </picture>
      {% endfor %}
      {% if pagination.href.next %}
        <div class="paginationPanel">
          <a href="{{ pagination.href.next }}#moment-1">Load more</a>
        </div>
      {% endif %}
    </div>
  </body>
</html>
