<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=320, user-scalable=no" />
<style>
body {
  margin: 0;
  background-color: #f8f8ff;
}
a img {
  border: none;
}
a:focus {
  outline: 0;
}
#moments {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#moments a img {
  vertical-align: bottom;
  margin: 1px;
}
</style>
<title>Test</title>
</head>
<body>
<div id="moments">
    {% for photo in photos %}
        <a href="#">
            <img sizes="(min-width: 768px) 190px, (min-width: 640px) 158px, (min-width: 515px) 126px, (min-width: 414px) 101px, (min-width: 375px) 91px, 78px" srcset="https:{{ photo }}?w=300&h=300&fit=thumb&f=faces&q=40 300w" src="https:{{ photo }}?w=300&h=300&fit=thumb&f=faces&q=40" /></a>        
        </a>
    {% endfor %}
    </div>
</body>
</html>
